In [1]:
import pandas as pd

In [2]:
ingredients = pd.read_pickle('ingr_map.pkl')

In [3]:
ingredients.head()

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
0,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507,4308
1,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507,4308
2,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507,4308
3,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507,4308
4,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507,4308

In [4]:
recipes_map = pd.read_csv('PP_recipes.csv')

In [5]:
recipes_map.head()

,id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids
0,424415,23,"[40480, 37229, 2911, 1019, 249, 6878, 6878, 28...","[[2911, 1019, 249, 6878], [1353], [6953], [153...","[40480, 40482, 21662, 481, 6878, 500, 246, 161...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[389, 7655, 6270, 1527, 3406]"
1,146223,96900,"[40480, 18376, 7056, 246, 1531, 2032, 40481]","[[17918], [25916], [2507, 6444], [8467, 1179],...","[40480, 40482, 729, 2525, 10906, 485, 43, 8393...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[2683, 4969, 800, 5298, 840, 2499, 6632, 7022,..."
2,312329,120056,"[40480, 21044, 16954, 8294, 556, 10837, 40481]","[[5867, 24176], [1353], [6953], [1301, 11332],...","[40480, 40482, 8240, 481, 24176, 296, 1353, 66...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",1,"[1257, 7655, 6270, 590, 5024, 1119, 4883, 6696..."
3,74301,168258,"[40480, 10025, 31156, 40481]","[[1270, 1645, 28447], [21601], [27952, 29471, ...","[40480, 40482, 5539, 21601, 1073, 903, 2324, 4...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]"
4,76272,109030,"[40480, 17841, 252, 782, 2373, 1641, 2373, 252...","[[1430, 11434], [1430, 17027], [1615, 23, 695,...","[40480, 40482, 14046, 1430, 11434, 488, 17027,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[3484, 6324, 7594, 243]"

In [6]:
recipe = pd.read_csv('RAW_recipes.csv')

In [7]:
recipe.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [8]:
final_two = recipe[['name','ingredients']]

In [14]:
final_two.to_csv('final_two.csv')

In [9]:
recipe.columns

Index(['name', 'id', 'minutes', 'contributor_id', 'submitted', 'tags',
       'nutrition', 'n_steps', 'steps', 'description', 'ingredients',
       'n_ingredients'],
      dtype='object')

In [10]:
recipe.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [11]:
df = recipes_map.join(recipe, lsuffix='id', rsuffix ='id')
df.columns
# df.join(other, lsuffix='_caller', rsuffix='_other')

Index(['idid', 'i', 'name_tokens', 'ingredient_tokens', 'steps_tokens',
       'techniques', 'calorie_level', 'ingredient_ids', 'name', 'idid',
       'minutes', 'contributor_id', 'submitted', 'tags', 'nutrition',
       'n_steps', 'steps', 'description', 'ingredients', 'n_ingredients'],
      dtype='object')

In [217]:
df['ingredient_tokens'][0].replace(']','').replace('[','').split(', ') 

# df['add'] = df.apply(lambda row : add(row['A'], 
#                      row['B'], row['C']), axis = 1) 
df_lean = df[['name', 'ingredient_tokens']]
# df_lean

In [218]:
df_lean['ingredients_tokens_list'] = df['ingredient_tokens'].apply(lambda row: row.replace(']','').replace('[','').split(', ') )

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [220]:
df_lean['ingredients_tokens_list']

0         [2911, 1019, 249, 6878, 1353, 6953, 15341, 326...
1         [17918, 25916, 2507, 6444, 8467, 1179, 8780, 6...
2         [5867, 24176, 1353, 6953, 1301, 11332, 21453, ...
3         [1270, 1645, 28447, 21601, 27952, 29471, 484, ...
4         [1430, 11434, 1430, 17027, 1615, 23, 695, 2338...
                                ...
178260    [8780, 11835, 1762, 4465, 31494, 6812, 17918, ...
178261    [6812, 5940, 30645, 4785, 6821, 6953, 4787, 13...
178262    [6167, 20930, 510, 1353, 15022, 6953, 6167, 7,...
178263    [12395, 38308, 40118, 3137, 15022, 30878, 1343...
178264    [3151, 12486, 2507, 6444, 30565, 17918, 15473,...
Name: ingredients_tokens_list, Length: 178265, dtype: object

In [221]:
# df['add'] = df.apply(lambda row : add(row['A'], 
#                      row['B'], row['C']), axis = 1) 
# df_lean['ingredients'] = df_lean['ingredients_tokens_list'].apply(lambda row: " ".join(str(x) for x in ingredients['replaced'][ingredients.index[ingredients['id']==int(id)]].values) for id in row)
df_lean['ingredients'] = df_lean['ingredients_tokens_list'].apply( lambda rowi : 
                                         [", ".join(ingredients[ingredients['id'] == int(idx)]['replaced'].values) for idx in rowi])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [12]:
df_lean['ingredients'].head()

NameError: name 'df_lean' is not defined

In [223]:
# [" ".join(str(x) for x in ingredients['replaced'][ingredients.index[ingredients['id']==int(id)]].values) for id in df_lean['ingredients_tokens_list'][0] ]

# [", ".join(ingredients[ingredients['id']==int(idx)]['replaced'].values) for idx in df_lean['ingredients_tokens_list'][0] ]
df_lean.head()

,name,ingredient_tokens,ingredients_tokens_list,ingredients
0,arriba baked winter squash mexican style,"[[2911, 1019, 249, 6878], [1353], [6953], [153...","[2911, 1019, 249, 6878, 1353, 6953, 15341, 326...","[fresh thyme leave, canned shrimp, ature tart ..."
1,a bit different breakfast pizza,"[[17918], [25916], [2507, 6444], [8467, 1179],...","[17918, 25916, 2507, 6444, 8467, 1179, 8780, 6...","[, , egg tomato, sherry wine vinegar, , cheese..."
2,all in the kitchen chili,"[[5867, 24176], [1353], [6953], [1301, 11332],...","[5867, 24176, 1353, 6953, 1301, 11332, 21453, ...","[raspberry white wine vinegar, raspberry white..."
3,alouette potatoes,"[[1270, 1645, 28447], [21601], [27952, 29471, ...","[1270, 1645, 28447, 21601, 27952, 29471, 484, ...","[chicken foot, cold water, , , , , beef stew s..."
4,amish tomato ketchup for canning,"[[1430, 11434], [1430, 17027], [1615, 23, 695,...","[1430, 11434, 1430, 17027, 1615, 23, 695, 2338...","[chocolate nesquik powder, , chocolate nesquik..."

In [189]:
# l =[" ".join(str(x) for x in ingredients[ingredients['id'] == int(id)]['replaced'].values).replace("'] ['",',').replace("'] [] ['",",").replace("'","").replace('[','').replace(']','').replace("'',","") for id in df_lean['ingredients_tokens_list'][0] ]

In [194]:
# ", ".join(l)
# " ".join(str(x) for x in l).replace('[','').replace(']','').replace("'","")
# " ".join(str(x) for x in l).replace("'] ['",',').replace("'] [] ['",",").replace("'","").replace('[','').replace(']','')

'fresh thyme leave, canned shrimp, ature tart shell, strawberry syrup strawberry syrup strawberry syrup, chinese rice wine, sweet and spicy barbecue sauce, , ginger snap, dark chocolate melt, butter sprinkle, blue food coloring, coffee ice cube, '

In [225]:
df_lean['ingredients']
df_lean.to_csv("final_recipes.csv")